{% extends 'base.html' %} 
{% load static %}
{% block content %}
<h1>About Ani-Rate</h1>
<section class="section home-hero">
  <div class="row">
    <div class="hero-image">
      <img
        src="{% static 'css/media/screenshot_2024-02-07_at_6.55.36___am_720.png' %}"
        alt=""
      />

    </div>
  </div>
</section>
<section>
  <div class="row">
    <div class="col-2">
      <h2>What is this?</h2>
      <p>
        This is a simple web application that allows you to create and manage an Anime Watchlist. You can add, edit, and delete anime shows from your watchlist, and also
        add reviews to the anime shows you've watched.
      </p>
    </div>
    <div class="col-2">
      <h2>How do I use it?</h2>
      <p>
        You can create an account and log in to start creating a watchlist. You can
        also view and comment on anime shows you have watched.
      </p>
    </div>
    <div class="col-2">
      <h2>Who built this?</h2>
      <p>
        This web application was built by a team of developers at General Assembly's
        Software Engineering Immersive coding bootcamp. The team members are: <br />
        <ul>
          <li>Nick Kucway</li>
          <li>Raz Rafart</li>
          <li>Jahdai Kilkenny</li>
          <li>Eduardo Vazquez</li>
        </ul>
    </div>
  </div>
</section>
{% endblock %}