{% extends 'base.html' %}
<!-- nav placeholder -->
{% block content %}
<!-- HomePageHero -->
<section class="section home-hero">
    <div>
        <img src="../static/css/media/anirateicon.png" alt="">
    </div>
</section>
<!--Search functionality-->
<section class="section section-search indigo darken-1 white-text center">
    <div class = 'container'>
        <div class = 'row'>
            <div class = 'col s12'>
                <h3>Search Animes</h3>
                <div class="input-field">
                    <input class= 'white grey-text' placeholder= 'Search for shows like Naruto' type="text">
                </div>
            </div>
        </div>
    </div>
</section>
<section class=" section trending">
<h2>Trending Anime</h2>
<div>place holder image1</div>
<div>place holder image2</div>
<div>place holder image3</div>
</section>
{% endblock %}