{% extends 'base.html' %}
<!-- nav placeholder -->
{% block content %}
<!-- HomePageHero -->
<!-- <section class="section home-hero">
    <div>
        <img src="../static/css/media/anirateicon.png" alt="">
    </div>
</section> -->

<!--Search functionality-->
<section class="section section-search grey">

  <div class="row">
    <div class="col s12">
        <h3>Search Anime</h3>
        <div class="input-field col s10 offset-s1">
            <form action="results" method="GET">
                <input
                  name="anime_search"
                  class="white grey-text"
                  placeholder="Search for shows like Naruto"
                  type="text"
                />
                <input type="submit" value="Search" class="btn grey right" />
            </form>
        </div>
    </div>
  </div>
</section>


<!-- Trending Section -->
<section class="section trending">
  <h3>Trending Anime</h3>
  <div class="row">
    <!-- card 1 -->
    <div class="col s2">
      <div class="card">
        <div class="card-image">
          <img src="{{ anime1.images.jpg.image_url }}" alt="{{anime1.title}}" />
        </div>
        <div class="card-action">
          <a href="{% url 'details' anime1.mal_id %}">{{anime1.title}}</a>
        </div>
      </div>
    </div>
    <!-- card 2 -->
    <div class="col s2">
      <div class="card">
        <div class="card-image">
          <img src="{{ anime2.images.jpg.image_url }}" alt="{{anime2.title}}" />
        </div>
        <div class="card-action">
            <a href="{% url 'details' anime2.mal_id %}">{{anime2.title}}</a>
        </div>
      </div>
    </div>
    <!-- card 3 -->
    <div class="col s2">
      <div class="card">
        <div class="card-image">
          <img src="{{ anime3.images.jpg.image_url }}" alt="{{anime3.title}}" />
        </div>
        <div class="card-action">
            <a href="{% url 'details' anime3.mal_id %}">{{anime3.title}}</a>
        </div>
      </div>
    </div>
    <!-- card 4 -->
    <div class="col s2">
      <div class="card">
        <div class="card-image">
          <img src="{{ anime4.images.jpg.image_url }}" alt="{{anime4.title}}" />
        </div>
        <div class="card-action">
            <a href="{% url 'details' anime4.mal_id %}">{{anime4.title}}</a>
        </div>
      </div>
    </div>
    <!-- card 5-->
    <div class="col s2">
      <div class="card">
        <div class="card-image">
          <img src="{{ anime5.images.jpg.image_url }}" alt="{{anime5.title}}" />
        </div>
        <div class="card-action">
            <a href="{% url 'details' anime5.mal_id %}">{{anime5.title}}</a>
        </div>
      </div>
    </div>
    <!-- card 6-->
    <div class="col s2">
      <div class="card">
        <div class="card-image">
          <img src="{{ anime6.images.jpg.image_url }}" alt="{{anime6.title}}" />
        </div>
        <div class="card-action">
            <a href="{% url 'details' anime6.mal_id %}">{{anime6.title}}</a>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
