body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  ul{
    display: flex;
    flex-wrap: wrap;
  }

  .card-action{
    height: 150px;
  }

  .hero-image img{
    width: 100%
  }