{% extends 'base.html' %} {% block content %}

<div class="section col s12 m7">
  <div class="card horizontal">
    <div class="card-image">
      <img
        src="{{ anime.images.jpg.image_url }}"
        alt="{{ anime.title_english }}"
      />
    </div>
    <div class="card-stacked">
      <div class="card-content blue accent-2">
        <h4 class="header white-text">{{ anime.title_english }}</h4>
        <h4>{{ anime.title_japanese }}</h4>
        <p>Year Released: {{ anime.year }}</p>
        <p>Episode Length: {{ anime.episodes }}</p>
        <hr />
        <p>{{ anime.synopsis }}</p>

        <form action="{% url 'add_to_watchlist' anime.mal_id %}" method="POST">
          {% csrf_token %}
          <input type="hidden" name="show" value="{{anime.mal_id}}" />
          <input type="hidden" name="title" value="{{anime.title_english}}" />
          <input type="hidden" name="image" value="{{anime.images.jpg.image_url}}" />
          <button
            type="submit"
            value="Search"
            class="submit btn red lighten-3 right waves-effect waves-light"
          >
            Add Show
          </button>
        </form>
      </div>
      <!-- <div class="card-action ">
       
      </div> -->
    </div>
  </div>
</div>

<!-- Reviews -->
<button>
  <a href="{% url 'reviews_create' %}?show={{ anime.mal_id }}">Add A Review</a>
</button>

{% for review in reviews %}
<div>
  <p>Username:</p>
  {{review.user}}
  <br />
  <p>Score:</p>
  {{review.rating}}
  <br />
  {{review.review_content}}
  <a href="{% url 'reviews_update' review.id %}">Edit</a>
  <a href="{% url 'reviews_delete' review.id %}">Delete</a>
</div>
{% endfor %} {% endblock %}
